/Client/PChat/nbproject/private/
/Framework/PFramework/nbproject/private/
/Framework/PFramework/build/
/Framework/PFramework/dist/
/Server/PChat/build/
/Website/nbproject/private/
/Server/PChat/dist/
/ChatClient/nbproject/private/